.control-buttons
{
	width: 500px;
	margin: 32px auto;
	background-color: #91e0ff;
	padding: 16px;
	max-width: 95%;
	border-radius: 12px;
	box-shadow: 0 1px 8px rgba(0,0,0,0.25);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
			
.control-buttons button
{
	font: inherit;
	cursor: pointer;
	padding: 8px 16px;
	border: 1px solid #40005d;
	color: white;
	background-color: #40005d;
	border-radius: 6px;
	margin: 6px;
}
			
.control-buttons button:hover,
.control-buttons button:active
{
	background-color: #510674;
	border-color: #510674;
}
			
.control-buttons button:disabled
{
	background-color:#ddb3f8;
	cursor: not-allowed;
}
		
#mytable
{
	margin: 32px auto;
	background-color: lightblue;
	width:500px;
	text-align:center;
	box-shadow: 0 1px 8px rgba(0,0,0,0.25);
}